<div class='flex h-[85vh] flex-col justify-center px-6 py-12 lg:px-8'>
  <div class='sm:mx-auto sm:w-full sm:max-w-sm'>
    <h2
      class='mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900'
    >Log In</h2>
  </div>

  <div class='mt-10 sm:mx-auto sm:w-full sm:max-w-sm'>
    <form class='space-y-6' action='/api/users/login' method='POST'>
      <div>
        <label
          for='email'
          class='block text-sm font-medium leading-6 text-gray-900'
        >Email</label>
        <div class='mt-2'>
          <input
            id='email'
            name='email'
            type='email'
            autocomplete='email'
            required
            class='block bg-gray-50 w-full rounded-md border-0 py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:outline-none focus:ring-inset focus:ring-[#ff551c] sm:text-sm sm:leading-6'
          />
        </div>
      </div>

      <div>
        <div class='flex items-center justify-between'>
          <label
            for='password'
            class='block text-sm font-medium leading-6 text-gray-900'
          >Password</label>
        </div>
        <div class='mt-2'>
          <input
            id='password'
            name='password'
            type='password'
            autocomplete='current-password'
            required
            class='block bg-gray-50 w-full rounded-md border-0 py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:outline-none focus:ring-inset focus:ring-[#ff551c] sm:text-sm sm:leading-6'
          />
        </div>
      </div>

      <div>
        <button
          type='submit'
          class='flex w-full justify-center rounded-md bg-[#ff551c] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#ce4920] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'
        >Log in</button>
      </div>
    </form>

    <p class='mt-10 text-center text-sm text-gray-500'>
      Need to create an account?
      <a
        href='/signup'
        class='font-semibold leading-6 text-[#ff551c] hover:text-[#ce4920]'
      >Sign up</a>
    </p>
  </div>
</div>